
.navbar{
    background-color: #282c34;
    color: white;
}

ul{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    padding: 1.1rem 2rem;
    margin: 0 auto;
    width: 8rem;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all ease;
}

li:hover{
    background-color: lightseagreen;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navbar a:hover, 
.navbar a:active,
.navbar a.active
{
    color:white;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid white;
}


.logo{
    height: 53px;
    width: auto;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    list-style: none;
}
