.welcome{
    background-color: white;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0;
    padding-bottom: 1rem;
}

.inputBuscar{
    width: 8rem;
    margin: 0.25rem 1rem;
    /* Buscar en Flex como cambiar posición de un solo hijo */
}



.logo{
    height: 60px;
    width: auto;
    cursor: pointer;
}

